.vs
**/bin/
**/obj/
# /MassageHuis/obj/Release
# /MassageHuis/obj/Debug
# /MassageHuis.Repository/obj/Debug
# /MassageHuis.Repository/obj/Release
# /MassageHuis.Domain/obj/Debug
# /MassageHuis.Domain/obj/Release
MassageHuis/Properties/PublishProfiles