@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreren";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Maak een account aan.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Voornaam" class="form-control" autocomplete="given-name" aria-required="true" placeholder="Voornaam" />
                <label asp-for="Input.Voornaam">Voornaam</label>
                <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Naam" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Naam" />
                <label asp-for="Input.Naam">Naam</label>
                <span asp-validation-for="Input.Naam" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.GeboorteDatum" class="form-control" type="date" aria-required="true" />
                <label asp-for="Input.GeboorteDatum" class="form-label">Geboortedatum</label>
                <span asp-validation-for="Input.GeboorteDatum" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Geslacht" class="form-select" aria-label="Geslacht selectie">
                    <option value="">-- Selecteer uw geslacht --</option>
                    <option value="Man">Man</option>
                    <option value="Vrouw">Vrouw</option>
                    <option value="Anders">Anders</option>
                </select>
                <label asp-for="Input.Geslacht">Geslacht</label>
                <span asp-validation-for="Input.Geslacht" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="wachtwoord" />
                <label asp-for="Input.Password">Wachtwoord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="wachtwoord" />
                <label asp-for="Input.ConfirmPassword">Bevestig wachtwoord</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registreren</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Placeholder</h3>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
