@model MassageHuis.ViewModels.MasseurBeheerVM

<h2>Masseur Beheer</h2>

<form asp-action="VoegMasseursToe" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Selecteer</th>
                <th>Gebruikersnaam</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Masseurs.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model.Masseurs[i].IsGeselecteerd" class="form-check-input" />
                        <input type="hidden" asp-for="@Model.Masseurs[i].Id" />
                    </td>
                    <td>@Model.Masseurs[i].UserName</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Voeg geselecteerde masseurs toe</button>
</form>